html, body {
	height: 100%;
}

.landing-page h1 {
	font-family: Arial, sans-serif font-size :80px;
	/* 		  color:#DDCCEE; */
	color: white;
}

/* Custom container */
.container-full {
	margin: 0 auto;
	width: 100%;
	min-height: 100%;
	/* 		  background-color:#110039; */
	background: url('../images/pattern-7.jpg') no-repeat center center;
	-webkit-background-size: cover; /* For WebKit*/
	-moz-background-size: cover; /* Mozilla*/
	-o-background-size: cover; /* Opera*/
	background-size: cover; /* Generic*/
	color: white;
	overflow: hidden;
}
}

.container-full a {
	color: #efefef;
	text-decoration: none;
}

.v-center {
	margin-top: 15%;
}

.display-world {
	margin: 0 auto;
	width: 100%;
	min-height: 100%;
	/* 		  background-color:#110039; */
	background: url('../images/pattern-1.jpg') no-repeat center;
	-webkit-background-size: cover; /* For WebKit*/
	-moz-background-size: cover; /* Mozilla*/
	-o-background-size: cover; /* Opera*/
	background-size: cover; /* Generic*/
	color: black;
	/* 		  overflow:scroll; */
	overflow-x: hidden;
}

.create-world {
	text-align: center;
	background-color: rgba(255,255,255,0.19);
	font-size: 4em;
	color: white;
	padding: 2em;
}

.create-bar {
	width: 340px;
	text-align: center;
	margin: 0 auto;
}

.create-bar .btn-lg {
	line-height: 1.375;
}
.search-bar {

	padding-top: 7%;
	text-align: center;
}
.search-bar > form {
	margin: 0 auto;
}

.list-of-worlds {
	color: white;
}

.list-of-worlds > img {
	width: 50;
}

.game-room {
	text-align:center;
	padding-top:1em;
}

.playground {
	margin: 0 auto;
	width: 100%;
	height: 100%;
	min-height: 800px;
	min-width: 1200px;
	color: black;
	/* overflow-x: hidden; */
	text-align: center;
	padding-top: 1em;
	padding-bottom: 3em;
}

#world {
	margin: 0 auto;
	width: 100%;
	height: 100%;
	min-height: 800px;
	min-width: 1200px;
	max-width: 1200px;
	color: black;
	/* overflow-x: hidden; */
	text-align: center;
	background: #FAFAA2;
}
.control-panel {
	/* 	margin: 0 auto; */
	display: none;
	height: 400px;
	/* 	background: rgba(77,77,77,1); */
	background: rgba(38,38,38,1);
	/* 	background: url("images/pattern-8.jpg")center center; */
	padding-top: 0.5em;
	margin-top: 1em;
	color: #D3D3D3;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	position: absolute;
	z-index: 999;
}

.control-panel-button{
	margin: 0 auto;
}

.nickname-bar {
	width: 340px;
	text-align: center;
	margin: 0 auto;
}

.panel-player-list {
	padding-top: 1em;
}

.panel-player-list table {
	margin: 0 auto;
}

.panel-player-list table, th, td {
	border: 1px solid #D3D3D3;
	font-size: 1.2em;
	padding: 0.5em;
}

.instructions {
	padding-top: 7%;
	padding-bottom: 2em;
}

/*
 body::-webkit-scrollbar{
 display: none;
 }
 */

/*thumbnails settings/hacks*/
.thumbnail {
	background: none;
	border: none;
}
.caption {
	text-align: center;
}

/*Placeholder settings*/
::-webkit-input-placeholder {
	text-align: center;
}

:-moz-placeholder {/* Firefox 18- */
	text-align: center;
}

::-moz-placeholder {/* Firefox 19+ */
	text-align: center;
}

:-ms-input-placeholder {
	text-align: center;
}

.toperror {
	width: 100%;
	background-color: #FF4040;
	text-align: center;
	color: #E8D8D8;
	padding: 4px 0;
	display:none;
}

/*minimal hacks for phone*/
@media (max-width: 480px) {
	.create-world {
		font-size: 1.5em;
	}
	.create-bar {
		width: 300px;
		text-align: center;
		margin: 0 auto;
		font-size: 1em !important;
	}

	.create-bar .btn-lg {
		line-height: 1.33;
		font-size: 14px;
	}
	.create-bar .input-lg {
		height: 40px;
		padding: 10px 16px;
		font-size: 15px;
		line-height: 1.33;
		border-radius: 6px;
	}

	.nickname-bar {
		width: 240px;
		text-align: center;
		margin: 0 auto;
	}
	
	.control-panel{
		margin-left:1.1em;
	}

}

